@import "../../../shared/constants.scss";

.actorCard_grid {
  flex-basis: 25%;
  position: relative;
  height: 360px;
  overflow: hidden;
  img {
    width: 100%;
    display: block;
    height: auto;
  }
  div {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    background-color: $header-color;
    padding: 5px;
    border-radius: 10px;
  }
}
