@import "../shared/constants.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

.myShows__container {
  width: 100%;
}

@media only screen and (min-width: 1300px) {
  .myShows__container {
    width: 1300px;
    border-radius: 10px;
    overflow: hidden;
    margin: 40px auto;
  }
}

body {
  background-image: linear-gradient(to right bottom, #7775a5, #3c3b66);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
