@import "../../../shared/constants.scss";

.sort__dropdown {
  appearance: none;
  background-color: #3c3b66;
  border: none;
  outline: none;
  color: $text-color;

  option {
    background-color: #3c3b66;
    border: none;
    outline: none;
    color: $text-color;
  }
}
