@import "../../../shared/constants.scss";

.show__card {
  flex-basis: 48%;
  margin-bottom: 25px;
  img {
    width: 100%;
    display: block;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

@media only screen and (min-width: 700px) {
  .show__card {
    flex-basis: 32%;
  }
}

@media only screen and (min-width: 1000px) {
  .show__card {
    flex-basis: 24%;
  }
}

.show__rating {
  float: right;
  position: relative;
  bottom: -0.75em;
  right: 0.5em;
  background-color: $text-color;
  color: $header-color;
  width: 3.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  border-radius: 0.2em;
  font-weight: bold;
}
.show__title {
  padding-top: 5px;
  font-size: 15px;
  font-weight: bold;
}
