$shows-background-color: #171934;

.shows__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $shows-background-color;
  padding: 10px;
  width: 900px;
}
.showbox {
  display: flex;
}
