@import "../../../shared/constants.scss";

$genre-text-color: #595bc1;

.genre_select {
  background-color: $header-color;
  color: $genre-text-color;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  li {
    list-style: none;
    height: 3em;
    line-height: 3em;
    padding-left: 1em;
    font-weight: bold;
  }
  li:hover {
    color: $text-color;
  }
}

@media only screen and (min-width: 1300px) {
  .genre_select {
    flex-basis: 20%;
    flex-direction: column;
  }
}
